html {
	background: url('../img/bg.png') no-repeat center bottom;
	background-size: cover;
	min-height: 100%;
}

body {

}

.site-header {

	.container {
		margin: 0 auto;
	}

	nav {
		@include sidebar-width;
		padding-right: 3%;
		border-bottom: 1px solid darken($lightgrey, 10%);

		@include bp(mobile) {
			width: 100%;
		}

		a, span {
			text-align: center;
			height: 100%;
			width: 50%;
			display: inline-block;
			padding: .5em 1em;
		}

		span {
			position: relative;

			@include triangle(down, darken($lightgrey, 10%), before, 25px, 15px) {
				position: absolute;
				bottom: -15px;
				left: 50%;
				transform: translateX(-50%);
			}

			@include triangle(down, white, after, 23px, 13px) {
				position: absolute;
				bottom: -13px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}

.container {
	@include clear;
	width: 100%;
	padding: 0 1em;

	@include bp(tablet) {
		margin: 0 auto;
	}

	@include bp(desktop) {
		width: 960px;
	}
}

.sidebar {
	padding-top: 1.5em;

	@include r(540px) {
		margin: 0 auto;
	}

	@include bp(tablet) {
		float: left;
		margin: 0;
		padding: 1.5em 3% 0 0;
	}

	@include sidebar-width;
}

.page-container {
	padding-top: 1.5em;

	@include bp(tablet) {
		width: 60%;
		float: left;
		padding-left: 4%;
	}

	@include bp(desktop) {
		width: 70%;
		padding-left: 5%;
	}

	h2, p {
		margin-top: 0;
		margin-bottom: 1em;
	}

	.divider {
		margin: 2rem 0;

		@include bp(tablet) {
			margin: 1.5rem 0;
		}
	}
}