.sidebar {
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
	border-right: 1px solid rgba(black, 0.2);

	p {
		font-size: 0.8em;
	}

	.profile-pic {
		width: 50%;
		display: inline-block;
		border-radius: 50%;
		overflow: hidden;
		margin-bottom: 2em;

		img {
			max-width: 100%;
			display: block;
		}
	}

	.about {

		li {
			@extend .divider-icon;

			&:after {
				color: black;
			}
		}
	}
}