html {
	font-family: $sourcesans;
	font-size: 14px;

	@include bp(tablet) {
		font-size: 16px;
	}

	@include bp(desktop) {
		font-size: 18px;
	}
}

body {
	font-weight: 400;
}

h1, h2, h3, h4 {
	margin: 0;
	font-weight: inherit;
}

h1 {
	font-size: 4em;
	line-height: 1em;
	font-weight: 900;
	font-family: $sourcesans;
	margin-bottom: 0.5em;
}

h2 {
	font-size: 2em;
	line-height: 1em;
	font-family: $oldstandard;
	font-style: italic;
	font-weight: 400;
	margin-bottom: 0.5em;
}

h3 {
	font-size: 1em;
	font-weight: 900;
	margin-bottom: 0.6em;
}

h4 {

}

p {
	font-size: 1em;
	line-height: 1.3em;
	margin-bottom: 2em;
}

strong {
	font-weight: 700;
}

a {
	color: $blue;
	text-decoration: none;

	&:hover {
		color: $magenta;
	}
}